<p-card 
    class="card"
    header="{{cardData.title}}" 
    [style]="{width: '360px',margin: '1rem'}" 
    styleClass="p-card-shadow"
>
    <button 
        pButton 
        autofocus
        type="button" 
        icon="pi pi-pencil" 
        class="p-button-text" 
        styleClass="p-button-sm"
        [style]="{'color': 'gray'}"
        (click)="showEditDialog()"
        (mouseenter)="$event.stopImmediatePropagation()"
        (mouseleave)="$event.stopImmediatePropagation()"
    >
    </button>
    <div class="content-area">
        <div> status: {{ cardData.completed ? 'done' : 'doing' }} </div>
    </div>
    <div>
        <p-button 
            *ngIf="!cardData.completed"
            label="DONE" 
            icon="pi pi-check"
            styleClass="p-button-sm p-button-success"
        ></p-button>
        
        <p-button 
            label="DELETE" 
            icon="pi pi-times" 
            styleClass="p-button-secondary p-button-sm"
            [style]="{'margin-left': '.5em'}"
        ></p-button>
    </div>
</p-card>

<p-dialog header="Edit Todo" [(visible)]="display" [style]="{width: '50vw'}">
    <textarea 
        pInputTextarea 
        [(ngModel)]="editItem" 
        [style]="{width: '100%'}"
    ></textarea>
    <p-button 
        label="EDIT" 
        icon="pi pi-check"
        styleClass="p-button-sm p-button-success"
        (click)="editData(editItem)"
    ></p-button>
</p-dialog>